<header>
    <%= image_tag 'nav.png', class: 'go-menu' %>
    <div class="logo-group">
        <div class="logo"></div>
    <p class="header-title">卒論の友</p>
    <p class="header-description">こちらでは書誌情報を正しい形式に変換することができます</p>
    </div>
    <hr>
</header>