<header>
    <%= image_tag 'nav.png', class: 'go-menu' %>
    <div class="logo-group">
        <div class="logo"></div>
    <p class="header-title">推しCPカクテルメーカー</p>
    <p class="header_description">この診断メーカーでは簡単に推しCPのイメージカクテルを作ることができます。</p>
    </div>
    <hr>
</header>