<div class="make">
    <p>攻めの誕生月は<%= @active %>月　そして受けの誕生月は<%= @pass %>月<br>二人の作ったカクテルは、、、</p>
    <p class="result"><%= @result %></p>
<br>
<%= link_to 'もっと推しのカクテルを作る', root_path, class: :go %>
</div>
