// Place all the styles related to the quote controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
header {
    font-family: 'メイリオ';
}

nav {
}

.link-list {
    background-color: #bfbfbf;
    width: 12%;
    margin-top: -0.5%;
    margin-left: -0.5%;
    padding: 1%;
    list-style: none;
    display: none;
}

.go-menu {
    width: 25px;
    height: 25px;
    float: left;
    margin-right: 20px;
    cursor: pointer;
}

.logo {
    margin-left: 30px;
    background-color: #4E8999;
    width: 25px;
    height: 25px;
    float: left;
}

.header-title {
    overflow: hidden;
}

hr {
    margin-left: -0.5%;
    box-shadow:5px 5px 6px;
    border:1px solid #000;
}

main {
    font-size: 30px;
    font-family: 'メイリオ';
}

.which-title {
    font-size: 20px;
    color: #151A1C;
}

.which {
    background-color: #bfbfbf;
    color: #fffff0;
    width: 20%;
    height: 30px;
    cursor: pointer;
    margin-left: -10%;
}

.which-box {
    margin-bottom: -4%;
    margin-left: 5%;
}

.input-form {
    margin: 5% 10% 2% 10%;
    padding: 1% 0% 5% 1%;
    background-color: #2F535D;
    border-radius: 10px;
}

label {
    padding-right: 10%;
    color: #FFFFF0;
}

.input-ind {
    margin-left: 15%;
    display: block;
}
.input-text {
    margin: 2%;
    width: 50%;
    height: 30px;
}

button {
    background-color: #4E8999;
    color: #fffff0;
    font-family: 'メイリオ';
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.shaping {
    padding: 0.5%;
    margin: 1% 10% 1% 35%;
}

#result {
    background-color: #fffff0;
    border-radius: 10px;
    width: 60%;
    font-size: 20px;
    margin: 0.5% 1% 0.5% 0.5%;
    padding: 0% 1% 0% 1%;
    word-wrap: break-word;
    float: left;
}

.result-block {
    margin-top: 2%;
    margin-left: 10%;
}

.refresh {
    display: none;
}

.chk {
    margin-top: 4%;
    margin-bottom: -5%;
    margin-left: 10%;
}
.checkbox-input{
  display: none;
}
.checkbox-parts{
  color: #000000;
  padding-left: 5%;
  position: relative;
  margin-right: 10%;
  font-size: 20px;
  cursor: pointer;
}
.checkbox-parts::before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 15%;
  height: 100%;
  border: 1px solid #999;
  border-radius: 4px;
}
.checkbox-input:checked + .checkbox-parts{
  color: #009a9a;
}
.checkbox-input:checked + .checkbox-parts::after{
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 5px;
  width: 10%;
  height: 50%;
  transform: rotate(40deg);
  border-bottom: 3px solid #009a9a;
  border-right: 3px solid #009a9a;
}

#hide {
    display: none;
}